    *{
        margin: 0;
        padding: 0;
    }

    .v-background-image{
        background-image: url(v-background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }

    .v-background-image video{
        width: 1000px;
        border: solid 3px #bed300;
        border-radius: 5px;
    }

    .video-btn{
        font-size: 1rem;
        background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
        padding: 14px 32px;
        left: 90%;
        border: none;
        border-radius: 4px;
        color: #fff;
        margin-top: -5rem;
        cursor: pointer;
        position: relative;
        transition: all 0.35s;
        outline: none;
    }

    .video-btn:hover{
        background: #4837ff;
        color: #fff;
        transition: all 0.3s ease;
    }

    @media screen and (max-width: 900px){
        .v-background-image video{
            Width: 600px;
            height: 50%;
        }
    }

    @media screen and (max-width: 500px){
        .v-background-image video{
            Width: 350px;
            height: 50%;
        }
    }